.code {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 20px 12px 10px;
}

.code :global(pre) {
  margin: 0;
  padding: 0;
  background: transparent !important;
  height: 100%;
  overflow: visible;
  line-height: 1.6;
}

.code :global(code) {
  font-family: "JetBrains Mono", "Fira Code", monospace;
}
