.code {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 40px 20px 12px 10px;
}

.code :global(pre) {
  margin: 0;
  padding: 0;
  background: transparent !important;
  height: 100%;
  overflow: visible;
  line-height: 1.6;
  min-width: max-content;
}

.code :global(code) {
  font-family: "JetBrains Mono", "Fira Code", monospace;
}


.code::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}